@import "breakpoints";
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Buttons
@mixin button($bg, $color, $hoverColor, $text, $postText) {
  background: $bg;
  color: $color;
  border: 3px solid $color;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  &:hover {
    color: $hoverColor;
    transition: all 0.4s ease-in-out;
    &::before {
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      // border: 3px solid $color;
    }
  }
  &:focus {
    outline: none;
  }
  &:focus::after {
    content: $postText;
  }
  &:visited::after {
    content: $postText;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    background: $color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.4s ease-in-out;
    border-radius: inherit;
  }
  &::after {
    content: $text;
  }
}
