@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800;900&family=Roboto:wght@400;500&display=swap");
.skill-table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skill-table-wrapper .skill-table {
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 2vh 3vh;
  border-radius: 12px;
}

.skill-table-wrapper .skill-table .skill-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.skill-table-wrapper .skill-table .skill-table-item label {
  position: relative;
  z-index: 1;
}

.skill-table-wrapper .skill-table .skill-table-item label svg {
  height: 48px;
  width: 48px;
}

.skill-table-wrapper .skill-table .skill-table-item meter {
  position: relative;
  z-index: 1;
  min-width: 22vw;
  min-height: 4vh;
  padding-left: 2vh;
}

.skill-table-wrapper .skill-table .skill-table-item meter::-webkit-meter-bar {
  background: rgba(0, 0, 0, 0.25);
  /* Required to get rid of the default background property */
  border: none;
}

.skill-table-wrapper .skill-table .skill-table-item .skill-blurb-container {
  position: absolute;
  z-index: 10;
  height: 110%;
  width: 110%;
  -webkit-clip-path: circle(0% at 4vh 2vh);
          clip-path: circle(0% at 4vh 2vh);
  -webkit-transform: translate(-2.5%, -5%);
          transform: translate(-2.5%, -5%);
}

.skill-table-wrapper .skill-table .skill-table-item .skill-blurb-container .skill-blurb {
  padding: 6vh 4vh 3vh 10vh;
  background-color: white;
  color: black;
  border-radius: 24px;
  -webkit-box-shadow: 0px -5px 29px -8px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -5px 29px -8px rgba(0, 0, 0, 0.6);
}

.skill-table-wrapper .skill-table .skill-table-item .skill-blurb-container .skill-blurb p {
  font-size: 90%;
}

.skill-table-wrapper .skill-table .skill-table-item:hover {
  cursor: pointer;
  z-index: 2;
}

.skill-table-wrapper .skill-table .skill-table-item:hover label,
.skill-table-wrapper .skill-table .skill-table-item:hover meter {
  z-index: 11;
}

.skill-table-wrapper .skill-table .skill-table-item:hover label svg {
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.35s ease-in-out;
  transition: -webkit-box-shadow 0.35s ease-in-out;
  transition: box-shadow 0.35s ease-in-out;
  transition: box-shadow 0.35s ease-in-out, -webkit-box-shadow 0.35s ease-in-out;
  -webkit-box-shadow: 0px 5px 20px -8px black;
  box-shadow: 0px 5px 20px -8px black;
}

.skill-table-wrapper .skill-table .skill-table-item:hover .skill-blurb-container {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-clip-path: circle(125%);
          clip-path: circle(125%);
}

.skill-table-wrapper .skill-table .skill-table-item:hover .skill-blurb-container.blurb-long {
  -webkit-clip-path: circle(175%);
          clip-path: circle(175%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.gradient {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 4vh;
}

h3 {
  font-size: 3.4vh;
}

.section {
  overflow: hidden;
}

.section .blur {
  position: absolute;
  height: 110%;
  width: 110%;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  background-size: cover;
  background-position: center;
}

.section.header-section .social-links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2vh;
}

.section.header-section .social-links a svg {
  width: 36px;
  height: 36px;
}

section {
  position: relative;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 2vh;
}

section .container.text-container {
  padding: 2vh 5vh;
}

section .container.text-container p {
  width: 50%;
  padding: 1vh 0 4vh;
  line-height: 1.3;
  font-size: 2vh;
}

@media (max-width: 768px) {
  section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section button {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 2.4vh;
  border-radius: 12px;
  padding: 1vh;
  margin: 1vh;
  background: transparent;
  color: black;
  border: 3px solid black;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

section button:hover {
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

section button:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
}

section button:focus {
  outline: none;
}

section button:focus::after {
  content: "";
}

section button:visited::after {
  content: "";
}

section button::before {
  content: "";
  width: 0;
  height: 0;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: inherit;
}

section button::after {
  content: "";
}

section.header .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.header .container .item {
  max-width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.header .container .item img {
  border-radius: 50%;
  height: 40vh;
  margin-left: 10vh;
}

section.header .container .item .me-blurb {
  padding: 0 10vh 0 10vh;
}

section.projects {
  color: white;
}

section.projects .container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.projects .container.text-container {
  padding-right: 21vw;
  padding-bottom: 3vh;
}

section.projects .container.cards {
  height: 50%;
}

section.projects .container.cards .card-wrap {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

section.projects .container.cards .card-wrap .card {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: white;
  min-height: 45vh;
  padding: 2vh 2.4vw 5vh;
  border-radius: 48px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

section.projects .container.cards .card-wrap .card .card-screen {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.projects .container.cards .card-wrap .card .card-screen svg {
  width: 26vw;
  fill: white;
}

section.projects .container.cards .card-wrap .card .card-screen .card-screen-shot {
  position: absolute;
  top: 12vh;
  left: 1.5vw;
  height: 24vh;
  width: 23vw;
  border-radius: 12px;
  overflow-y: hidden;
}

section.projects .container.cards .card-wrap .card .card-screen .card-screen-shot img {
  width: 100%;
}

section.projects .container.cards .card-wrap .card .card-screen .card-screen-shot img.card-screen-img {
  -webkit-transition: -webkit-transform 2.4s ease-in-out;
  transition: -webkit-transform 2.4s ease-in-out;
  transition: transform 2.4s ease-in-out;
  transition: transform 2.4s ease-in-out, -webkit-transform 2.4s ease-in-out;
}

section.projects .container.cards .card-wrap .card h3 {
  padding: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.projects .container.cards .card-wrap .card .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1vh 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.projects .container.cards .card-wrap .card .icons span {
  -webkit-transition: scale 0.4s ease, rotate 0.1s ease-in-out;
  transition: scale 0.4s ease, rotate 0.1s ease-in-out;
}

section.projects .container.cards .card-wrap .card .icons span svg {
  height: 40px;
  width: 40px;
}

section.projects .container.cards .card-wrap .card .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.projects .container.cards .card-wrap .card .button-container button {
  margin: 1vh 0 0;
  background: transparent;
  color: white;
  border: 3px solid white;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

section.projects .container.cards .card-wrap .card .button-container button:hover {
  color: black;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

section.projects .container.cards .card-wrap .card .button-container button:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
}

section.projects .container.cards .card-wrap .card .button-container button:focus {
  outline: none;
}

section.projects .container.cards .card-wrap .card .button-container button:focus::after {
  content: "Check it out again";
}

section.projects .container.cards .card-wrap .card .button-container button:visited::after {
  content: "Check it out again";
}

section.projects .container.cards .card-wrap .card .button-container button::before {
  content: "";
  width: 0;
  height: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: inherit;
}

section.projects .container.cards .card-wrap .card .button-container button::after {
  content: "Check it out";
}

section.skills {
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  min-height: 80vh;
}

section.skills .container .item h3 {
  margin-bottom: 2vh;
}

section.skills .container.text-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 0;
}

section.skills .container.text-container .item {
  padding: 4vh 4vh 0 50vw;
}

section.skills .container.text-container .item p {
  width: unset;
}

section.skills .container.web-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.skills .container.web-container .item {
  padding: 1vh;
}

section.slide {
  color: white;
}

section.slide .container .item.padded {
  padding: 0 4vh;
}

section.slide .container .item.padded p.subheader {
  max-width: 80%;
  margin-bottom: 5vh;
}

section.slide .container .item .tech-card-wrapper .tech-card {
  border-radius: 10px;
  position: relative;
}

section.slide .container .item .tech-card-wrapper .tech-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

section.slide .container .item .tech-card-wrapper .tech-card .tech-card-logo svg {
  height: 48px;
  width: 48px;
}

section.slide .container .item .tech-card-wrapper .tech-card .tech-card-blurb {
  padding: 0 1vw;
}

section.slide .container .item .tech-card-wrapper .tech-card .tech-card-blurb p {
  width: 100%;
}

section.slide .container .item .screenshots .screenshot-wrapper .screenshot-img {
  width: 24vw;
}

section.slide a.back {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 2vh 3vh;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.slide a.back svg {
  height: 24px;
  width: 24px;
  fill: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

section.slide a.back:hover svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

section.slide a.back div {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1vh;
  line-height: 1.4;
  font-weight: 600;
}

section.slide a.back:hover div {
  border-bottom: 2px solid white;
}

section.slide a.next {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 2vh 3vh;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.slide a.next svg {
  height: 24px;
  width: 24px;
  fill: white;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

section.slide a.next:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

section.slide a.next div {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1vh;
  line-height: 1.4;
  font-weight: 600;
}

section.slide a.next:hover div {
  border-bottom: 2px solid white;
}

.left,
.right,
.slide-fade-up {
  visibility: hidden;
}

.left {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.right {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.slide-fade-up {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slideFadeUp {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideFadeUp {
  from {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes pullFocus {
  from {
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@keyframes pullFocus {
  from {
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  to {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
/*# sourceMappingURL=main.css.map */