@import "mixins";
@import "icons";
@import "skill-table";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800;900&family=Roboto:wght@400;500&display=swap");

// General element overrides
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.gradient {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
h2 {
  font-size: 4vh;
}
h3 {
  font-size: 3.4vh;
}

// Oerall section styles
.section {
  overflow: hidden;
  .blur {
    position: absolute;
    height: 110%;
    width: 110%;
    filter: blur(7px);
    background-size: cover;
    background-position: center;
  }
  &.header-section {
    .blur {
      // background-image: linear-gradient(
      //     180deg,
      //     rgba(0, 0, 0, 0) 0%,
      //     rgba(0, 0, 0, 0.5) 100%
      //   ),
      //   url("../img/sky.jpg");
      // transform: translate(-30px, -26%);
    }
    .social-links {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2vh;
      a {
        svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  // &.projects-section .blur {
  //   background-image: linear-gradient(
  //       315deg,
  //       rgba(0, 0, 0, 0) 0%,
  //       rgba(0, 0, 0, 0.75) 100%
  //     ),
  //     url("../img/window.jpg");
  //   transform: translate(-30px, -5%);
  // }
  // &.skills-section .blur {
  //   background-image: linear-gradient(
  //       45deg,
  //       rgba(0, 0, 0, 0) 0%,
  //       rgba(0, 0, 0, 0.75) 100%
  //     ),
  //     url("../img/wtc.jpg");
  //   transform: translate(-30px, -12%);
  // }
}
section {
  position: relative;
  .container {
    display: flex;
    align-items: center;
    padding: 3vh 2vh;
    &.text-container {
      padding: 2vh 5vh;
      p {
        width: 50%;
        padding: 1vh 0 4vh;
        line-height: 1.3;
        font-size: 2vh;
      }
    }
    @include phone {
      flex-direction: column;
    }
  }
  button {
    transition: all 0.6s ease;
    font-size: 2.4vh;
    border-radius: 12px;
    padding: 1vh;
    margin: 1vh;
    @include button(transparent, black, white, "", "");
  }
  &.header {
    .container {
      justify-content: center;
      .item {
        max-width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          height: 40vh;
          margin-left: 10vh;
        }
        .me-blurb {
          padding: 0 10vh 0 10vh;
        }
      }
    }
  }
  &.projects {
    color: white;
    .container {
      justify-content: space-evenly;
      &.text-container {
        padding-right: 21vw;
        padding-bottom: 3vh;
      }
      &.cards {
        height: 50%;
        .card-wrap {
          perspective: 2000px;
          .card {
            transform-style: preserve-3d;
            // background: transparent;

            color: white;
            min-height: 45vh;
            padding: 2vh 2.4vw 5vh;
            border-radius: 48px;
            background: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9px);
            .card-screen {
              position: relative;
              transition: all 0.3s ease;
              svg {
                width: 26vw;
                fill: white;
              }
              .card-screen-shot {
                position: absolute;
                top: 12vh;
                left: 1.5vw;
                height: 24vh;
                width: 23vw;
                border-radius: 12px;
                overflow-y: hidden;
                img {
                  width: 100%;
                  &.card-screen-img {
                    transition: transform 2.4s ease-in-out;
                  }
                }
              }
            }
            h3 {
              padding: 0;
              transition: all 0.4s ease;
            }
            .icons {
              display: flex;
              justify-content: space-around;
              padding: 1vh 0;
              transition: all 0.5s ease;
              span {
                transition: scale 0.4s ease, rotate 0.1s ease-in-out;
                svg {
                  height: 40px;
                  width: 40px;
                }
              }
            }
            .button-container {
              display: flex;
              justify-content: flex-end;
              button {
                margin: 1vh 0 0;
                @include button(
                  transparent,
                  white,
                  black,
                  "Check it out",
                  "Check it out again"
                );
              }
            }
          }
        }
      }
    }
  }
  &.skills {
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    min-height: 80vh;
    .container {
      .item {
        h3 {
          margin-bottom: 2vh;
        }
      }
      &.text-container {
        justify-content: flex-end;
        padding-bottom: 0;
        .item {
          padding: 4vh 4vh 0 50vw;
          p {
            width: unset;
          }
        }
      }
      &.web-container {
        justify-content: space-around;
        align-items: flex-end;
        .item {
          padding: 1vh;
        }
      }
    }
  }
  &.slide {
    color: white;
    .container {
      .item {
        &.padded {
          padding: 0 4vh;
          p.subheader {
            max-width: 80%;
            margin-bottom: 5vh;
          }
        }
        .tech-card-wrapper {
          .tech-card {
            border-radius: 10px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              border-radius: inherit;
              background: rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(8px);
            }
            .tech-card-logo {
              svg {
                height: 48px;
                width: 48px;
              }
            }
            .tech-card-blurb {
              padding: 0 1vw;
              h4 {
              }
              p {
                width: 100%;
              }
            }
          }
        }
        .screenshots {
          .screenshot-wrapper {
            .screenshot-img {
              width: 24vw;
            }
          }
        }
      }
    }
    a.back {
      position: absolute;
      top: 0%;
      left: 0%;
      padding: 2vh 3vh;
      text-decoration: none;
      color: white;
      display: flex;
      align-content: center;
      svg {
        height: 24px;
        width: 24px;
        fill: white;
        transform: translateX(0);
        transition: transform 0.5s ease;
      }
      &:hover svg {
        transform: translateX(-5px);
      }
      div {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s ease;
        align-self: center;
        margin-left: 1vh;
        line-height: 1.4;
        font-weight: 600;
      }
      &:hover div {
        border-bottom: 2px solid white;
      }
    }
    a.next {
      position: absolute;
      top: 0%;
      right: 0%;
      padding: 2vh 3vh;
      text-decoration: none;
      color: white;
      display: flex;
      align-content: center;
      svg {
        height: 24px;
        width: 24px;
        fill: white;
        transform: translateX(0);
        transition: transform 0.5s ease;
      }
      &:hover svg {
        transform: translateX(5px);
      }
      div {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s ease;
        align-self: center;
        margin-right: 1vh;
        line-height: 1.4;
        font-weight: 600;
      }
      &:hover div {
        border-bottom: 2px solid white;
      }
    }
  }
}

.left,
.right,
.slide-fade-up {
  visibility: hidden;
}
.left {
  transform: translateX(-100vw);
}
.right {
  transform: translateX(100vw);
}
.slide-fade-up {
  transform: translateY(100vh);
}
@keyframes slideLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideFadeUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes pullFocus {
  from {
    filter: blur(100px);
  }
  to {
    filter: blur(10px);
  }
}
